@model IEnumerable<Product>
<div class="container">
    @foreach (var product in Model)
    {
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="~/backend/images/Product/@product.Thumb" alt="" style="height: 35em;">
            </div>
            <!-- content -->
            <div class="col-md-6">
                <div>
                    <h1>@product.Name</h1>
                    <div>
                        <span><b>Tác giả :</b></span>
                        <span class="text-primary">@product.Author.Name </span> <br>
                    </div>
                    <div class="mt-3">
                        <span class=""><b>Lĩnh vực :</b></span>
                        <span class="text-primary">@product.Subcategory.Name </span>
                    </div>
                    <!-- star -->
                    <ul class="rate-item-book d-flex w-25 justify-content-between">
                        <li><span>&#9733;</span></li>
                        <li><span>&#9733;</span></li>
                        <li><span>&#9733;</span></li>
                        <li><span>&#9733;</span></li>
                        <li><span>&#9733;</span></li>
                    </ul>
                    <!-- Price -->
                    <div class="mt-3">
                        <label class="text-danger fs-3">@product.Price</label>
                    </div>
                    <!-- status -->
                    <div class="mt-2">
                        <span class=""><b>Tình trạng :</b></span>
                        @{
                        if (product.Qty > 0)
                        {


                        <span class="text-primary"> Còn hàng </span>
                        }
                        else
                        {
                        <span class="text-primary"> Hết hàng </span>
                        }
                        }
                    </div>
                    <!-- quantity -->
                    <div class="mt-3">
                        <span>Số lượng : </span>
                        <button id="giam">-</button><input type="number" value="0" id="soluong" name="soluong" />
                        <button id="tang">+</button>
                    </div>
                    <!-- mua hang -->
                    <div class="mt-5">
                        <button type="button" class="btn btn-warning me-3">Mua ngay</button>
                        <button type="button" class="btn btn-primary">Thêm vào giỏ hàng</button>
                    </div>
                </div>
            </div>
            <!-- comment -->
            <div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Giới thiệu về sách </label>
                        <p>@product.Description</p>
                    </div>
                </div>
            </div>
        </div>
    }

</div>